%h3 Rejestracja Została zakończona
%p
  Rejestracja rezerwowa odbywa się będzie poprzez formularz kontaktowy.
  Należy podać nazwę drużyny, imię, nazwisko oraz adres email każdeg członka ekipy.
  Gdy jakaś drużyna się wypisze będziemy dodawać kolejne zgłoszone w kolejności 
  wysłanych emaili.
%br
%br
%br
%br
%br
%br