%h1 Potwierdzenie rejestracji

%p Drużyna #{@team.name} wyruszyła w drogę.
%p Każdy z członków drużyny dostanie maila potwierdzającego jego udział w grze i akceptację jej regulminu.
%p Gdy wszyscy zaakceptują warunki uczestnictwa, rejestracja drużyny zostanie zakończona.
