%h1 Aktualności

%ul
  %li
    %h3 Zaczynamy!
    %p.name przez: Eliksirstudenta
    %p
      Juwenalia Krakowskie już tuż, tuż a w więc startuje tez nowa Juwenaliowa Gra Miejska.
      Dużo większa niż rok temu i z dużo większym rozmachem.
      Zaczynamy 21 maja o godzinie 15.00.
  %li
    %h3 Rejestracja ruszyła
    %p.name przez: Eliksirstudenta
    %p 
      Rejestracja do gry właśnie ruszyła.