%h1 Aktualności

%ul
  %li
    %h3 Zamykamy rejestrację
    %p.name przez: Eliksirstudent
    %p
      W tym roku przygotowaliśmy dwa razy większą, dwa razy dluższą 
      i dwa razy liczniejszą grę niż w zeszłym.
      Liczba drużyn przekroczyła 70 więc musimy zamknąć rejestrację.
      Nasze możliwości nie pozwalają na większą liczbę zawodników mimo, że w tym roku
      zwiększyliśmy znacznie budżet jak i pojemność gry.
    %p
      Rejestracja rezerwowa odbywać się będzie poprzez formularz kontaktowy.
      Należy podać nazwę drużyny, imię, nazwisko oraz adres email każdeg członka ekipy.
      Gdy jakaś drużyna się wypisze będziemy dodawać kolejne zgłoszone w kolejności 
      wysłanych emaili.
  %li
    %h3 18 maja zamykamy rejestrację
    %p.name przez: Eliksirstudenta
    %p
      Tego dnia o godzinie 23.59 zamkniemy zapisy do gry.
      Więc jeśli macie już drużynę, rejestrujcie się póki nie jest za późno.
  %li
    %h3 Mamy już ponad 30 drużyn! :)
    %p.name przez: Eliksirstudenta
    %p
      Tym samym przekroczyliśmy już liczbe drużyn z zeszłego roku.
      Nie martwcie się, przewidzieliśmy to, dlatego w tym roku ustaliliśmy większy limit.
      Zapraszamy do rejestracji drużyn.
  %li
    %h3 Zaczynamy!
    %p.name przez: Eliksirstudenta
    %p
      Juwenalia Krakowskie już tuż, tuż a w więc startuje też nowa Juwenaliowa Gra Miejska.
      Dużo większa niż rok temu i z dużo większym rozmachem.
      Zaczynamy 21 maja o godzinie 15.00.
  %li
    %h3 Rejestracja ruszyła
    %p.name przez: Eliksirstudenta
    %p 
      Rejestracja do gry właśnie ruszyła.