%h1 Aktualności

%ul
  %li
    %h3 18 maja zamykamy rejestrcje
    %p.name przez: Eliksirstudenta
    %p
      Tego dnia o godzinie 23.59 zamkniemy zapisy do gry.
      Więc jeśli macie już drużynę, rejestrujcie się póki nie jest za późno.
  %li
    %h3 Mamy już ponad 30 drużyn! :)
    %p.name przez: Eliksirstudenta
    %p
      Tym samym przekroczyliśmy już liczbe drużyn z zeszłego roku.
      Nie martwcie się, przewidzieliśmy to, dlatego w tym roku ustaliliśmy większy limit.
      Zapraszamy do rejestracji drużyn.
  %li
    %h3 Zaczynamy!
    %p.name przez: Eliksirstudenta
    %p
      Juwenalia Krakowskie już tuż, tuż a w więc startuje też nowa Juwenaliowa Gra Miejska.
      Dużo większa niż rok temu i z dużo większym rozmachem.
      Zaczynamy 21 maja o godzinie 15.00.
  %li
    %h3 Rejestracja ruszyła
    %p.name przez: Eliksirstudenta
    %p 
      Rejestracja do gry właśnie ruszyła.