%h1 Legenda o magicznym eliksirze studenta
#d= image_tag "d.png"

#legenda 
  awno, dawno temu, w czasach, gdy mędrcy zakładali pierwsze akademie, aby młodym adeptom nauki przekazać całą swą tajemną wiedzę, grupa młodych żaków z zacnej krakowskiej uczelni rozpoczęła prace nad wynalezieniem studenckiego eliksiru. Napój ten czarowny miał przynosić sławę, przysparzać umiejętności, a co najważniejsze przenosić tego, który go skosztował w magiczną krainę, gdzie wszystko stawało się możliwe.
  %br
  %br
  Po wielu próbach, wielu wyrzeczeniach, po zdających się nie mieć końca poszukiwaniach, wreszcie około 600 lat temu udało się w królewskim mieście stworzyć formułę eliksiru. Przekazywana z pokolenia na pokolenie, z rąk do rąk, stała się najpilniej strzeżonym skarbem studentów Krakowa.
  %br
  %br
  Nadszedł jednak czas, aby w obliczu czyhających dziś na studentów zagrożeń eliksir stał się wsparciem dla jak największej liczby studentów, aby podzielić się formułą. 21 maja A.D. 2011 nadarzy się niebagatelna okazja, bowiem wszystkie zgłoszone żakowskie drużyny wyruszą na poszukiwanie składników formuły eliksiru i niezbędnych ingrediencji. Zatem niechaj stawią się wszyscy śmiałkowie wraz z ich kamratami, niech zjednoczy się studencka brać, niechaj studencki eliksir poleje się tego dnia szerokim strumieniem, a magiczna kraina stanie otworem. 