%h1 Regulamin gry miejskiej „Magiczny Eliksir Studenta”

%ul
  %li
    %h3 I. Postanowienia ogólne
    %ul
      %li 1. Gra miejska „Magiczny Eliksir Studenta”, zwana dalej Grą, odbędzie się w dniu 21 maja 2011 roku na terenie miasta Kraków, w ramach Juwenaliów Krakowskich.
      %li 2. W Grze biorą udział osoby, zwane dalej Graczami.
      %li 3. Nagrodę Główną otrzymuje Gracz lub Grupa, który/a zgodnie z zasadami Gry ukończy Grę z najwyższym wynikiem czyli uzbiera jak najwięcej skłądników i elementów receptury. W przypadku jednakowego wyniku roztrzygająca będzie kolejność dotarcia na metę.
      %li 4. Zasady Gry opisane są wyłącznie w poniższym dokumencie, zwanym dalej Regulaminem. Wszelkie inne informacje mają charakter wyłącznie informacyjny.
      %li 5. Niniejszy regulamin obowiązuje na czas trwania Gry.
      %li 6. Wszystkie ewentualne zmiany w Regulaminie będą ogłaszane na stronie internetowej Gry http://eliksirstudenta.pl
      %li 7. Gra ma charakter Konkursu, który nie podlega przepisom ustawy z dnia 29 lipca 1992 roku o grach i zakładach wzajemnych (Dz.U. z 2004, Nr. 4, poz 27 z późniejszymi zmianami).
      %li 8. Organizatorzy zastrzegają sobie możliwość zmiany niniejszego Regulaminu w przypadku wystąpienia istotnych zdarzeń mających wpływ na organizację konkursu.

  %li
    %h3 II. Gracze
    %ul
      %li 1. Graczem może być osoba, która posiada status studenta jednej z uczelni krakowskich.
      %li 2. Gracze tworzą zespoły maksymalnie trzyosobowe.
      %li 3. Gracz przystępując do Gry zgadza się na warunki przedstawione w niniejszym Regulaminie i zobowiązuje się do ich przestrzegania.
      %li 4. Gracz wyraża zgodę na przetwarzanie jego danych osobowych i udostępnia je w celu przeprowadzenia Gry.
      %li 5. Gracz przystępując do Gry bierze na siebie pełną odpowiedzialność cywilnoprawną za swoje działania na cały czas trwania Gry za siebie.
      %li 6. Gracz w trakcie Gry ma obowiązek postępować zgodnie z Zasadami Gry oraz Regulaminem Gry pod groźbą wykluczenia z Gry
      %li 7. Graczy obowiązują zasady wzajemnego poszanowania i tolerancji.

  %li
    %h3 III. Rejestracja w Grze
    %ul
      %li 1. Rejestracji w Grze dokonuje się poprzez rejestrację internetową.
      %li 2. Rejestracja Gracza jest niezbędnym warunkiem udziału w Grze.
      %li 3. Zarejestrowani Gracze muszą stawić się w punkcie Startu Gry o wyznaczonej przez organizatora godzinie.
      %li 4. Niezgłoszenie się na start Gry jest traktowane równoważnie z rezygnacją z udziału w Grze.

  %li
    %h3 IV. Zasady Gry
    %ul
      %li 1. Podczas Gry Gracze otrzymają wszelkie niezbędne informacje do udziału w Grze.
      %li 2. Zadaniem Graczy jest jak najszybsze dotarcie do mety i zebranie jak największej ilości punktów które są skąłdnikami i elementami receptury eliksiru. W przypadku jednakowego wyniku roztrzygająca będzie kolejność dotarcia na metę.
      %li 3. Warunkiem przechodzenia do kolejnych etapów Gry jest poprawne rozwiązywanie zadań przygotowanych przez Organizatorów Gry.
      %li 4. Gra toczy się w normalnym ruchu miejskim i Gracze są zobowiązani do zachowania szczególnej ostrożności. Organizator nie zapewnia opieki .medycznej dla osób uczestniczących w Grze.

  %li
    %h3 VII. Organizatorzy
    %ul
      %li 1. Organizatorzy zobowiązują się do przeprowadzenia wszelkich możliwych kroków w celu przygotowania Gry w sposób zgodny z Regulaminem.
      %li 2. Organizatorzy nie ponoszą odpowiedzialności za szkody wyrządzone przez Graczy podczas trwania Gry.